In [52]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('boneka popeye').getOrCreate()

In [53]:
df = spark.read.csv('/content/sample_data/Jual boneka popeye.csv', header = True, inferSchema = True)
df.show(100)

+---------------------+------+-------------+----------------+
|          Nama Produk| Harga|      Terjual|          Lokasi|
+---------------------+------+-------------+----------------+
| Boneka Popeye dan...|  55.0|   86 Terjual|   Jakarta Pusat|
| Boneka Popeye The...|  58.5|    1 Terjual|   Jakarta Barat|
|   Boneka Popeye uk L|  65.0|   18 Terjual|   Jakarta Pusat|
| CBT Boneka Popeye...| 61.38|   22 Terjual|        Surabaya|
|           BONEKA 3kg|  59.0|   21 Terjual|    Kab. Bandung|
| Boneka Popeye kec...|  40.0|   11 Terjual|   Jakarta Utara|
| Boneka Popeye Unisex|  35.0|         NULL|          Bekasi|
| Boneka Popeye Bes...|  55.0|    2 Terjual|   Jakarta Utara|
| Boneka Beruang Te...|  55.5|10RB+ Terjual|            NULL|
| [FREE ONGKIR] Dor...| 89.25|  156 Terjual|   Jakarta Pusat|
| BONEKA POPEYE & O...|  62.7|    7 Terjual|   Kab. Boyolali|
| boneka popeye ata...|  75.0|    7 Terjual|Surakarta (Solo)|
| Boneka Popeye TNI...| 190.0|   27 Terjual|     Kab. Kediri|
| Boneka Popeye The...|  58.5|         NULL|   Jakarta Barat|
| boneka popeye ori...| 125.0|         NULL|   Jakarta Barat|
|       Popeye - Olive|  43.0|  300 Terjual|        Surabaya|
| Boneka popeye oli...|  97.0|    8 Terjual|   Kab. Karawang|
| Boneka Popeye - O...|  68.0|    1 Terjual|        Surabaya|
| Boneka punggung P...|  75.0|         NULL|   Jakarta Utara|
| Boneka Popaye Bah...|  55.0|         NULL|        Surabaya|
| Boneka Popeye Wim...|  45.0|         NULL|         Bandung|
| Dreamtoys96 Bonek...|  66.0|    2 Terjual|        Surabaya|
| BONEKA POPEYE OLI...|  50.3|    1 Terjual|     Kab. Madiun|
| Boneka Popeye Paj...|  70.0|    3 Terjual|   Jakarta Pusat|
| Boneka Popeye Pel...| 120.0|         NULL|   Jakarta Pusat|
| Boneka Popeye dan...| 225.0|         NULL|   Jakarta Timur|
|        Boneka Popeye| 140.0|         NULL|   Kab. Sukabumi|
| Boneka popeye vin...| 350.0|         NULL|   Kab. Banyumas|
| boneka popeye uku...|  65.0|         NULL|          Padang|
| Boneka Olive Pope...| 275.0|         NULL|       Tangerang|
| Boneka couple plu...| 350.0|         NULL|          Padang|
|     Pl boneka popaye|  35.0|         NULL|           Medan|
| Boneka ular bahan...|  13.5|  868 Terjual|   Kab. Karawang|
| Boneka Beruang Te...|  62.9|10RB+ Terjual|            NULL|
| Mainan Anak Bonek...|94.999|    7 Terjual|          Bekasi|
|        Boneka popeye|  60.0|         NULL|        Surabaya|
| Boneka Putri Duyu...|  50.0|  1RB Terjual|          Bekasi|
| Boneka Miki Mini ...|  24.5|  2RB Terjual|          Bekasi|
| MURAH!! Boneka ul...|  13.5|3,8RB Terjual|   Kab. Karawang|
| Boneka Jumbo Tedd...|  83.9|10RB+ Terjual|  Kab. Mojokerto|
| (Rumah Grosir) Bo...|  57.0|  287 Terjual|   Jakarta Utara|
| Boneka cindy size...|  16.5|6,3RB Terjual|   Kab. Karawang|
| Boneka Mickey minnie|  33.0|1,6RB Terjual|          Bekasi|
| Boneka bunny keli...|  29.0|  849 Terjual|     Kab. Bekasi|
| Boneka Mickey Min...|  31.2|  139 Terjual|          Bekasi|
| Boneka Monkey Bon...|  28.0|  186 Terjual|          Bekasi|
| Mainan Boneka Luc...|  30.0|10RB+ Terjual|          Bekasi|
| PROMO!!!BONEKA UL...|  10.2|1,1RB Terjual|   Kab. Karawang|
| Boneka Singa/Hari...|  54.9|   18 Terjual|    Kab. Bandung|
| Boneka Landak Kar...|  30.0|1,9RB Terjual|          Bekasi|
|„ÄêProduk Populer 2...| 199.0|   76 Terjual|       Tangerang|
| Boneka Rimuru Sli...|  19.0|6,1RB Terjual|            NULL|
| 40cm Boneka Pomni...|  35.0|2,2RB Terjual|          Bekasi|
| Boneka Serigala/F...|  65.0|  244 Terjual|   Jakarta Barat|
| Boneka New Bear L...|  94.5|  5RB Terjual|     Kab. Bekasi|
| Boneka Monkey Bon...|  30.0|1,7RB Terjual|            NULL|
| Boneka Gajah Dudu...|  31.5|  379 Terjual|          Bekasi|
| Boneka Sapi Stand...|  33.0|5,4RB Terjual|          Bekasi|
| Boneka Roblox Gam...| 32.05|3,8RB Terjual|          Bekasi|
| Boneka Paus biru ...|  38.5|    1 Terjual|          Bekasi|
| Boneka Monkey Bon...|  30.0|1,7RB Terjual|            NULL|
| Boneka New Bear L...|  94.5|  5RB Terjual|     Kab. Bekasi|
| BONEKA BABY HIU S...|26.997|5,5RB Terjual|          Bekasi|
| Boneka Kawaii Hiu...|  41.0|4,3RB Terjual|            NULL|
| Mainan Boneka Por...|  25.0|10RB+ Terjual|          Bekasi|
| Boneka Bantal Emo...|  35.0|1,8RB Terjual|          Bekasi|
| 40cm Boneka Pomni...|  35.0|2,2RB Terjual|          Bekasi|
| Boneka Tangan Kar...|14.875|10RB+ Terjual|      Kab. Bogor|
| Boneka Mommy Dadd...|  25.0|  2RB Terjual|          Bekasi|
|        Boneka Tangan|  12.0|10RB+ Terjual|   Jakarta Timur|
| Boneka Teletubbie...|  33.0|2,6RB Terjual|          Bekasi|
| Boneka Didi And F...|  26.5|   74 Terjual|          Bekasi|
| Boneka Ikan Hiu M...|  59.0|  120 Terjual|          Cimahi|
| Boneka Kawaii Hiu...|  41.0|  198 Terjual|          Bekasi|
| Sepasang boneka I...|  34.0|4,6RB Terjual|   Kab. Karawang|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
|                 NULL|  NULL|         NULL|            NULL|
+---------------------+------+-------------+----------------+
only showing top 100 rows

In [54]:
df_cleaned = df.dropDuplicates()
df.show()

+--------------------+-----+-------------+----------------+
|         Nama Produk|Harga|      Terjual|          Lokasi|
+--------------------+-----+-------------+----------------+
|Boneka Popeye dan...| 55.0|   86 Terjual|   Jakarta Pusat|
|Boneka Popeye The...| 58.5|    1 Terjual|   Jakarta Barat|
|  Boneka Popeye uk L| 65.0|   18 Terjual|   Jakarta Pusat|
|CBT Boneka Popeye...|61.38|   22 Terjual|        Surabaya|
|          BONEKA 3kg| 59.0|   21 Terjual|    Kab. Bandung|
|Boneka Popeye kec...| 40.0|   11 Terjual|   Jakarta Utara|
|Boneka Popeye Unisex| 35.0|         NULL|          Bekasi|
|Boneka Popeye Bes...| 55.0|    2 Terjual|   Jakarta Utara|
|Boneka Beruang Te...| 55.5|10RB+ Terjual|            NULL|
|[FREE ONGKIR] Dor...|89.25|  156 Terjual|   Jakarta Pusat|
|BONEKA POPEYE & O...| 62.7|    7 Terjual|   Kab. Boyolali|
|boneka popeye ata...| 75.0|    7 Terjual|Surakarta (Solo)|
|Boneka Popeye TNI...|190.0|   27 Terjual|     Kab. Kediri|
|Boneka Popeye The...| 58.5|         NULL|   Jakarta Barat|
|boneka popeye ori...|125.0|         NULL|   Jakarta Barat|
|      Popeye - Olive| 43.0|  300 Terjual|        Surabaya|
|Boneka popeye oli...| 97.0|    8 Terjual|   Kab. Karawang|
|Boneka Popeye - O...| 68.0|    1 Terjual|        Surabaya|
|Boneka punggung P...| 75.0|         NULL|   Jakarta Utara|
|Boneka Popaye Bah...| 55.0|         NULL|        Surabaya|
+--------------------+-----+-------------+----------------+
only showing top 20 rows

In [55]:
df_cleaned = df_cleaned.na.drop()
df_cleaned.show(100)

+---------------------+------+-------------+------------------+
|          Nama Produk| Harga|      Terjual|            Lokasi|
+---------------------+------+-------------+------------------+
| Boneka Miki Mini ...|  32.5|1,3RB Terjual|       Kab. Bekasi|
| Sepasang boneka I...|  34.0|4,6RB Terjual|     Kab. Karawang|
| BONEKA SESAME/BON...|  95.0|   22 Terjual|  Surakarta (Solo)|
| Boneka Putri Duyu...|  52.0|  318 Terjual|            Bekasi|
| 40cm Boneka Pomni...|  35.0|2,2RB Terjual|            Bekasi|
| Mainan Anak Bonek...|  58.0|   12 Terjual|     Jakarta Utara|
| Boneka ular bahan...|  13.5|  868 Terjual|     Kab. Karawang|
| Boneka Popeye Paj...|  70.0|    3 Terjual|     Jakarta Pusat|
| Boneka Jumbo Tedd...|  83.9|10RB+ Terjual|    Kab. Mojokerto|
| Boneka Miki Mini ...|  33.0|  459 Terjual|            Bekasi|
| Mainan Boneka Lan...|  26.0|  887 Terjual|            Bekasi|
| Mainan Boneka Luc...|  30.0|10RB+ Terjual|            Bekasi|
| PROMO!!!BONEKA UL...|  10.2|1,1RB Terjual|     Kab. Karawang|
| Boneka Paus biru ...|  38.5|    1 Terjual|            Bekasi|
| Bantal Boneka Emo...|  32.0|  659 Terjual|            Bekasi|
| Boneka Popeye dan...|  55.0|   86 Terjual|     Jakarta Pusat|
| Mainan Naga Susu ...|  32.0|4,6RB Terjual|    Kab. Tangerang|
| Boneka cindy size...|  16.5|6,3RB Terjual|     Kab. Karawang|
| Boneka Serigala/F...|  65.0|  244 Terjual|     Jakarta Barat|
| Mainan Boneka Kay...|  19.9|   64 Terjual|     Jakarta Utara|
| Boneka Popeye kec...|  40.0|   11 Terjual|     Jakarta Utara|
| Dreamtoys96 Bonek...|  66.0|    2 Terjual|          Surabaya|
| Boneka Popeye Bes...|  55.0|    2 Terjual|     Jakarta Utara|
|„ÄêProduk Populer 2...| 199.0|   76 Terjual|         Tangerang|
| Boneka adat Nusan...|  12.0|1,3RB Terjual|     Kab. Banyumas|
| Boneka Ikan Nemo ...|  30.0|  296 Terjual|            Bekasi|
| (Rumah Grosir) Bo...|  57.0|  287 Terjual|     Jakarta Utara|
| Boneka Miki Mini ...|  24.5|  2RB Terjual|            Bekasi|
| Boneka Ikan Hiu M...|  59.0|  120 Terjual|            Cimahi|
| BONEKA POPEYE & O...|  62.7|    7 Terjual|     Kab. Boyolali|
| Mainan Anak Bonek...|94.999|    7 Terjual|            Bekasi|
| Boneka New Bear L...|  94.5|  5RB Terjual|       Kab. Bekasi|
|      Boneka Le Sucre|  60.0|    2 Terjual|          Denpasar|
| Boneka Teletubbie...|  33.0|2,6RB Terjual|            Bekasi|
| Boneka Macan Tige...|  37.0|  551 Terjual|            Bekasi|
| Boneka Singa/Hari...|  54.9|   18 Terjual|      Kab. Bandung|
| Mainan Anak karak...|  49.5|2,5RB Terjual|            Bekasi|
| 30cm / 60cm / 80c...|  59.0|  164 Terjual|            Cimahi|
| Boneka Mickey minnie|  33.0|1,6RB Terjual|            Bekasi|
| BONEKA SHEEP TIMM...|  55.9|   77 Terjual|Kab. Bandung Barat|
| Boneka Landak Kar...|  30.0|1,9RB Terjual|            Bekasi|
| boneka  kambing d...|  90.0|  525 Terjual|     Kab. Karawang|
| boneka popeye ata...|  75.0|    7 Terjual|  Surakarta (Solo)|
| Boneka Putri Duyu...|  50.0|  1RB Terjual|            Bekasi|
| boneka bear cocok...|  10.0|10RB+ Terjual|       Tasikmalaya|
| ANPAMAN TEMAN ANP...|  60.0|   41 Terjual|     Jakarta Timur|
| Boneka Roblox Gam...| 32.05|3,8RB Terjual|            Bekasi|
| Boneka candy kepa...|  30.0|   27 Terjual|     Jakarta Utara|
| Boneka Didi And F...|  26.5|   74 Terjual|            Bekasi|
| Boneka Kawaii Hiu...|  41.0|  198 Terjual|            Bekasi|
|        Boneka Tangan|  12.0|10RB+ Terjual|     Jakarta Timur|
| BONEKA FLANEL PRO...|  18.0|  185 Terjual|            Bekasi|
| MURAH!! Boneka ul...|  13.5|3,8RB Terjual|     Kab. Karawang|
| dadu jumbo flanel...|  17.0|1,3RB Terjual|      Kab. Jombang|
| Boneka popeye oli...|  97.0|    8 Terjual|     Kab. Karawang|
| Boneka Popeye The...|  58.5|    1 Terjual|     Jakarta Barat|
| Nota Live Boneka ...|  94.7|  842 Terjual|     Jakarta Barat|
| Boneka ULIL ALPHA...|  31.0|  366 Terjual|            Bekasi|
| Boneka bantal kuc...|  37.5|3,8RB Terjual|       Kab. Bekasi|
| Boneka Popeye TNI...| 190.0|   27 Terjual|       Kab. Kediri|
| Mainan Boneka  Po...|  21.8|3,6RB Terjual|            Bekasi|
|   Boneka Popeye uk L|  65.0|   18 Terjual|     Jakarta Pusat|
| [FREE ONGKIR] Dor...| 89.25|  156 Terjual|     Jakarta Pusat|
| Boneka Tangan Kar...|14.875|10RB+ Terjual|        Kab. Bogor|
| Boneka Dinosaurus...|  46.9|8,7RB Terjual|            Bekasi|
| Mainan Boneka Por...|  25.0|10RB+ Terjual|            Bekasi|
| Boneka CJ 7 kecil...|  32.5|  649 Terjual|     Jakarta Barat|
|       Popeye - Olive|  43.0|  300 Terjual|          Surabaya|
| Boneka Mickey Min...|  31.2|  139 Terjual|            Bekasi|
| Boneka Shaun The ...|  34.0|    9 Terjual|            Bekasi|
| Boneka Bantal Emo...|  35.0|1,8RB Terjual|            Bekasi|
| Boneka Monkey Ike...|  32.0|  846 Terjual|            Bekasi|
| Boneka unta padan...| 145.0|2,8RB Terjual|     Kab. Karawang|
| Boneka Mommy Dadd...|  25.0|  2RB Terjual|            Bekasi|
| 7 boneka kurcaci ...|  69.7|   67 Terjual|     Kab. Sidoarjo|
| Boneka Monyet Gibbon|  45.0|    8 Terjual|     Jakarta Pusat|
| CBT Boneka Popeye...| 61.38|   22 Terjual|          Surabaya|
| Boneka 30 - 100 +...| 118.0|  258 Terjual|        Yogyakarta|
| Boneka bayi / bon...|  39.8|6,7RB Terjual|            Malang|
| BONEKA BABY HIU S...|26.997|5,5RB Terjual|            Bekasi|
| Boneka Donald Duc...|  49.4|   65 Terjual|          Surabaya|
| Boneka bunny keli...|  29.0|  849 Terjual|       Kab. Bekasi|
| Boneka Monkey Bon...|  28.0|  186 Terjual|            Bekasi|
| Boneka Popeye - O...|  68.0|    1 Terjual|          Surabaya|
| BONEKA KECIL / GANCI|  35.5|    9 Terjual|     Jakarta Utara|
| Boneka Tentara / ...|  60.0|  691 Terjual|   Jakarta Selatan|
| READY BONEKA PROF...|29.999|1,4RB Terjual|      Kab. Bandung|
| Boneka Sapi Stand...|  33.0|5,4RB Terjual|            Bekasi|
| BONEKA POPEYE OLI...|  50.3|    1 Terjual|       Kab. Madiun|
| Boneka Ular Cokel...|  10.7|  903 Terjual|     Kab. Karawang|
| Boneka teman anpa...|  85.0|   13 Terjual|       Kab. Kediri|
| BONEKA UNICORN Sa...|  64.5|  387 Terjual|            Bekasi|
| Boneka Kelinci An...|  85.0|  133 Terjual|     Jakarta Pusat|
| Boneka Gajah Dudu...|  31.5|  379 Terjual|            Bekasi|
| Boneka Profesi Pe...|  60.0|    8 Terjual|        Kab. Demak|
|           BONEKA 3kg|  59.0|   21 Terjual|      Kab. Bandung|
+---------------------+------+-------------+------------------+

In [57]:
from os import truncate
from pyspark.sql.functions import regexp_replace, when, col

# Step 1: Bersihkan koma (ganti ke titik) dan hapus "Terjual" dan "++"
df_cleaned = df_cleaned.withColumn(
    "Terjual",
    regexp_replace(col("Terjual"), r",", ".")  # koma jadi titik
).withColumn(
    "Terjual",
    regexp_replace(col("Terjual"), r"(\s*Terjual|\+)", "")  # hapus "Terjual" dan "++"
)

# Step 2: Tangani "RB"
df_cleaned = df_cleaned.withColumn(
    "Terjual",
    when(
        col("Terjual").rlike("(?i)RB"),  # kalau ada RB
        (regexp_replace(col("Terjual"), "(?i)RB", "").cast("float") * 1000).cast("int")
    ).otherwise(
        col("Terjual").cast("int")  # kalau tidak ada RB
    )
)

df_cleaned = df_cleaned.withColumn(
    "Harga",
    regexp_replace(col("Harga"), r"\.", "").cast("int")
)

df_cleaned.show(100)

+---------------------+-----+-------+------------------+
|          Nama Produk|Harga|Terjual|            Lokasi|
+---------------------+-----+-------+------------------+
| Boneka Miki Mini ...|  325|   1300|       Kab. Bekasi|
| Sepasang boneka I...|  340|   4600|     Kab. Karawang|
| BONEKA SESAME/BON...|  950|     22|  Surakarta (Solo)|
| Boneka Putri Duyu...|  520|    318|            Bekasi|
| 40cm Boneka Pomni...|  350|   2200|            Bekasi|
| Mainan Anak Bonek...|  580|     12|     Jakarta Utara|
| Boneka ular bahan...|  135|    868|     Kab. Karawang|
| Boneka Popeye Paj...|  700|      3|     Jakarta Pusat|
| Boneka Jumbo Tedd...|  839|  10000|    Kab. Mojokerto|
| Boneka Miki Mini ...|  330|    459|            Bekasi|
| Mainan Boneka Lan...|  260|    887|            Bekasi|
| Mainan Boneka Luc...|  300|  10000|            Bekasi|
| PROMO!!!BONEKA UL...|  102|   1100|     Kab. Karawang|
| Boneka Paus biru ...|  385|      1|            Bekasi|
| Bantal Boneka Emo...|  320|    659|            Bekasi|
| Boneka Popeye dan...|  550|     86|     Jakarta Pusat|
| Mainan Naga Susu ...|  320|   4600|    Kab. Tangerang|
| Boneka cindy size...|  165|   6300|     Kab. Karawang|
| Boneka Serigala/F...|  650|    244|     Jakarta Barat|
| Mainan Boneka Kay...|  199|     64|     Jakarta Utara|
| Boneka Popeye kec...|  400|     11|     Jakarta Utara|
| Dreamtoys96 Bonek...|  660|      2|          Surabaya|
| Boneka Popeye Bes...|  550|      2|     Jakarta Utara|
|„ÄêProduk Populer 2...| 1990|     76|         Tangerang|
| Boneka adat Nusan...|  120|   1300|     Kab. Banyumas|
| Boneka Ikan Nemo ...|  300|    296|            Bekasi|
| (Rumah Grosir) Bo...|  570|    287|     Jakarta Utara|
| Boneka Miki Mini ...|  245|   2000|            Bekasi|
| Boneka Ikan Hiu M...|  590|    120|            Cimahi|
| BONEKA POPEYE & O...|  627|      7|     Kab. Boyolali|
| Mainan Anak Bonek...|94999|      7|            Bekasi|
| Boneka New Bear L...|  945|   5000|       Kab. Bekasi|
|      Boneka Le Sucre|  600|      2|          Denpasar|
| Boneka Teletubbie...|  330|   2600|            Bekasi|
| Boneka Macan Tige...|  370|    551|            Bekasi|
| Boneka Singa/Hari...|  549|     18|      Kab. Bandung|
| Mainan Anak karak...|  495|   2500|            Bekasi|
| 30cm / 60cm / 80c...|  590|    164|            Cimahi|
| Boneka Mickey minnie|  330|   1600|            Bekasi|
| BONEKA SHEEP TIMM...|  559|     77|Kab. Bandung Barat|
| Boneka Landak Kar...|  300|   1900|            Bekasi|
| boneka  kambing d...|  900|    525|     Kab. Karawang|
| boneka popeye ata...|  750|      7|  Surakarta (Solo)|
| Boneka Putri Duyu...|  500|   1000|            Bekasi|
| boneka bear cocok...|  100|  10000|       Tasikmalaya|
| ANPAMAN TEMAN ANP...|  600|     41|     Jakarta Timur|
| Boneka Roblox Gam...| 3205|   3800|            Bekasi|
| Boneka candy kepa...|  300|     27|     Jakarta Utara|
| Boneka Didi And F...|  265|     74|            Bekasi|
| Boneka Kawaii Hiu...|  410|    198|            Bekasi|
|        Boneka Tangan|  120|  10000|     Jakarta Timur|
| BONEKA FLANEL PRO...|  180|    185|            Bekasi|
| MURAH!! Boneka ul...|  135|   3800|     Kab. Karawang|
| dadu jumbo flanel...|  170|   1300|      Kab. Jombang|
| Boneka popeye oli...|  970|      8|     Kab. Karawang|
| Boneka Popeye The...|  585|      1|     Jakarta Barat|
| Nota Live Boneka ...|  947|    842|     Jakarta Barat|
| Boneka ULIL ALPHA...|  310|    366|            Bekasi|
| Boneka bantal kuc...|  375|   3800|       Kab. Bekasi|
| Boneka Popeye TNI...| 1900|     27|       Kab. Kediri|
| Mainan Boneka  Po...|  218|   3600|            Bekasi|
|   Boneka Popeye uk L|  650|     18|     Jakarta Pusat|
| [FREE ONGKIR] Dor...| 8925|    156|     Jakarta Pusat|
| Boneka Tangan Kar...|14875|  10000|        Kab. Bogor|
| Boneka Dinosaurus...|  469|   8700|            Bekasi|
| Mainan Boneka Por...|  250|  10000|            Bekasi|
| Boneka CJ 7 kecil...|  325|    649|     Jakarta Barat|
|       Popeye - Olive|  430|    300|          Surabaya|
| Boneka Mickey Min...|  312|    139|            Bekasi|
| Boneka Shaun The ...|  340|      9|            Bekasi|
| Boneka Bantal Emo...|  350|   1800|            Bekasi|
| Boneka Monkey Ike...|  320|    846|            Bekasi|
| Boneka unta padan...| 1450|   2800|     Kab. Karawang|
| Boneka Mommy Dadd...|  250|   2000|            Bekasi|
| 7 boneka kurcaci ...|  697|     67|     Kab. Sidoarjo|
| Boneka Monyet Gibbon|  450|      8|     Jakarta Pusat|
| CBT Boneka Popeye...| 6138|     22|          Surabaya|
| Boneka 30 - 100 +...| 1180|    258|        Yogyakarta|
| Boneka bayi / bon...|  398|   6700|            Malang|
| BONEKA BABY HIU S...|26997|   5500|            Bekasi|
| Boneka Donald Duc...|  494|     65|          Surabaya|
| Boneka bunny keli...|  290|    849|       Kab. Bekasi|
| Boneka Monkey Bon...|  280|    186|            Bekasi|
| Boneka Popeye - O...|  680|      1|          Surabaya|
| BONEKA KECIL / GANCI|  355|      9|     Jakarta Utara|
| Boneka Tentara / ...|  600|    691|   Jakarta Selatan|
| READY BONEKA PROF...|29999|   1400|      Kab. Bandung|
| Boneka Sapi Stand...|  330|   5400|            Bekasi|
| BONEKA POPEYE OLI...|  503|      1|       Kab. Madiun|
| Boneka Ular Cokel...|  107|    903|     Kab. Karawang|
| Boneka teman anpa...|  850|     13|       Kab. Kediri|
| BONEKA UNICORN Sa...|  645|    387|            Bekasi|
| Boneka Kelinci An...|  850|    133|     Jakarta Pusat|
| Boneka Gajah Dudu...|  315|    379|            Bekasi|
| Boneka Profesi Pe...|  600|      8|        Kab. Demak|
|           BONEKA 3kg|  590|     21|      Kab. Bandung|
+---------------------+-----+-------+------------------+

In [58]:
df_cleaned.show(100)

+---------------------+-----+-------+------------------+
|          Nama Produk|Harga|Terjual|            Lokasi|
+---------------------+-----+-------+------------------+
| Boneka Miki Mini ...|  325|   1300|       Kab. Bekasi|
| Sepasang boneka I...|  340|   4600|     Kab. Karawang|
| BONEKA SESAME/BON...|  950|     22|  Surakarta (Solo)|
| Boneka Putri Duyu...|  520|    318|            Bekasi|
| 40cm Boneka Pomni...|  350|   2200|            Bekasi|
| Mainan Anak Bonek...|  580|     12|     Jakarta Utara|
| Boneka ular bahan...|  135|    868|     Kab. Karawang|
| Boneka Popeye Paj...|  700|      3|     Jakarta Pusat|
| Boneka Jumbo Tedd...|  839|  10000|    Kab. Mojokerto|
| Boneka Miki Mini ...|  330|    459|            Bekasi|
| Mainan Boneka Lan...|  260|    887|            Bekasi|
| Mainan Boneka Luc...|  300|  10000|            Bekasi|
| PROMO!!!BONEKA UL...|  102|   1100|     Kab. Karawang|
| Boneka Paus biru ...|  385|      1|            Bekasi|
| Bantal Boneka Emo...|  320|    659|            Bekasi|
| Boneka Popeye dan...|  550|     86|     Jakarta Pusat|
| Mainan Naga Susu ...|  320|   4600|    Kab. Tangerang|
| Boneka cindy size...|  165|   6300|     Kab. Karawang|
| Boneka Serigala/F...|  650|    244|     Jakarta Barat|
| Mainan Boneka Kay...|  199|     64|     Jakarta Utara|
| Boneka Popeye kec...|  400|     11|     Jakarta Utara|
| Dreamtoys96 Bonek...|  660|      2|          Surabaya|
| Boneka Popeye Bes...|  550|      2|     Jakarta Utara|
|„ÄêProduk Populer 2...| 1990|     76|         Tangerang|
| Boneka adat Nusan...|  120|   1300|     Kab. Banyumas|
| Boneka Ikan Nemo ...|  300|    296|            Bekasi|
| (Rumah Grosir) Bo...|  570|    287|     Jakarta Utara|
| Boneka Miki Mini ...|  245|   2000|            Bekasi|
| Boneka Ikan Hiu M...|  590|    120|            Cimahi|
| BONEKA POPEYE & O...|  627|      7|     Kab. Boyolali|
| Mainan Anak Bonek...|94999|      7|            Bekasi|
| Boneka New Bear L...|  945|   5000|       Kab. Bekasi|
|      Boneka Le Sucre|  600|      2|          Denpasar|
| Boneka Teletubbie...|  330|   2600|            Bekasi|
| Boneka Macan Tige...|  370|    551|            Bekasi|
| Boneka Singa/Hari...|  549|     18|      Kab. Bandung|
| Mainan Anak karak...|  495|   2500|            Bekasi|
| 30cm / 60cm / 80c...|  590|    164|            Cimahi|
| Boneka Mickey minnie|  330|   1600|            Bekasi|
| BONEKA SHEEP TIMM...|  559|     77|Kab. Bandung Barat|
| Boneka Landak Kar...|  300|   1900|            Bekasi|
| boneka  kambing d...|  900|    525|     Kab. Karawang|
| boneka popeye ata...|  750|      7|  Surakarta (Solo)|
| Boneka Putri Duyu...|  500|   1000|            Bekasi|
| boneka bear cocok...|  100|  10000|       Tasikmalaya|
| ANPAMAN TEMAN ANP...|  600|     41|     Jakarta Timur|
| Boneka Roblox Gam...| 3205|   3800|            Bekasi|
| Boneka candy kepa...|  300|     27|     Jakarta Utara|
| Boneka Didi And F...|  265|     74|            Bekasi|
| Boneka Kawaii Hiu...|  410|    198|            Bekasi|
|        Boneka Tangan|  120|  10000|     Jakarta Timur|
| BONEKA FLANEL PRO...|  180|    185|            Bekasi|
| MURAH!! Boneka ul...|  135|   3800|     Kab. Karawang|
| dadu jumbo flanel...|  170|   1300|      Kab. Jombang|
| Boneka popeye oli...|  970|      8|     Kab. Karawang|
| Boneka Popeye The...|  585|      1|     Jakarta Barat|
| Nota Live Boneka ...|  947|    842|     Jakarta Barat|
| Boneka ULIL ALPHA...|  310|    366|            Bekasi|
| Boneka bantal kuc...|  375|   3800|       Kab. Bekasi|
| Boneka Popeye TNI...| 1900|     27|       Kab. Kediri|
| Mainan Boneka  Po...|  218|   3600|            Bekasi|
|   Boneka Popeye uk L|  650|     18|     Jakarta Pusat|
| [FREE ONGKIR] Dor...| 8925|    156|     Jakarta Pusat|
| Boneka Tangan Kar...|14875|  10000|        Kab. Bogor|
| Boneka Dinosaurus...|  469|   8700|            Bekasi|
| Mainan Boneka Por...|  250|  10000|            Bekasi|
| Boneka CJ 7 kecil...|  325|    649|     Jakarta Barat|
|       Popeye - Olive|  430|    300|          Surabaya|
| Boneka Mickey Min...|  312|    139|            Bekasi|
| Boneka Shaun The ...|  340|      9|            Bekasi|
| Boneka Bantal Emo...|  350|   1800|            Bekasi|
| Boneka Monkey Ike...|  320|    846|            Bekasi|
| Boneka unta padan...| 1450|   2800|     Kab. Karawang|
| Boneka Mommy Dadd...|  250|   2000|            Bekasi|
| 7 boneka kurcaci ...|  697|     67|     Kab. Sidoarjo|
| Boneka Monyet Gibbon|  450|      8|     Jakarta Pusat|
| CBT Boneka Popeye...| 6138|     22|          Surabaya|
| Boneka 30 - 100 +...| 1180|    258|        Yogyakarta|
| Boneka bayi / bon...|  398|   6700|            Malang|
| BONEKA BABY HIU S...|26997|   5500|            Bekasi|
| Boneka Donald Duc...|  494|     65|          Surabaya|
| Boneka bunny keli...|  290|    849|       Kab. Bekasi|
| Boneka Monkey Bon...|  280|    186|            Bekasi|
| Boneka Popeye - O...|  680|      1|          Surabaya|
| BONEKA KECIL / GANCI|  355|      9|     Jakarta Utara|
| Boneka Tentara / ...|  600|    691|   Jakarta Selatan|
| READY BONEKA PROF...|29999|   1400|      Kab. Bandung|
| Boneka Sapi Stand...|  330|   5400|            Bekasi|
| BONEKA POPEYE OLI...|  503|      1|       Kab. Madiun|
| Boneka Ular Cokel...|  107|    903|     Kab. Karawang|
| Boneka teman anpa...|  850|     13|       Kab. Kediri|
| BONEKA UNICORN Sa...|  645|    387|            Bekasi|
| Boneka Kelinci An...|  850|    133|     Jakarta Pusat|
| Boneka Gajah Dudu...|  315|    379|            Bekasi|
| Boneka Profesi Pe...|  600|      8|        Kab. Demak|
|           BONEKA 3kg|  590|     21|      Kab. Bandung|
+---------------------+-----+-------+------------------+

In [59]:
df_cleaned.describe(['Harga', 'Terjual']).show()

+-------+------------------+------------------+
|summary|             Harga|           Terjual|
+-------+------------------+------------------+
|  count|                96|                96|
|   mean|2392.4270833333335|1690.2291666666667|
| stddev|10505.729705606307|2770.4317979206467|
|    min|               100|                 1|
|    max|             94999|             10000|
+-------+------------------+------------------+

In [60]:
from pyspark.sql.functions import corr
df_cleaned.select(corr('Harga', 'Terjual')).show()

+--------------------+
|corr(Harga, Terjual)|
+--------------------+
|0.006712635974657086|
+--------------------+

In [61]:
from pyspark.sql.functions import sum

df_cleaned.groupBy("Lokasi").agg(sum("Terjual").alias("total_terjual")) \
    .orderBy("total_terjual", ascending=False).show()

+------------------+-------------+
|            Lokasi|total_terjual|
+------------------+-------------+
|            Bekasi|        70547|
|     Kab. Karawang|        20904|
|       Kab. Bekasi|        10949|
|     Jakarta Timur|        10041|
|       Tasikmalaya|        10000|
|        Kab. Bogor|        10000|
|    Kab. Mojokerto|        10000|
|            Malang|         6700|
|    Kab. Tangerang|         4600|
|     Jakarta Barat|         1736|
|      Kab. Bandung|         1439|
|      Kab. Jombang|         1300|
|     Kab. Banyumas|         1300|
|   Jakarta Selatan|          691|
|     Jakarta Utara|          412|
|     Jakarta Pusat|          404|
|          Surabaya|          390|
|            Cimahi|          284|
|        Yogyakarta|          258|
|Kab. Bandung Barat|           77|
+------------------+-------------+
only showing top 20 rows

In [62]:
from pyspark.ml.feature import Tokenizer, StopWordsRemover, CountVectorizer

tokenizer = Tokenizer(inputCol="Nama Produk", outputCol="words")
wordsData = tokenizer.transform(df_cleaned)

remover = StopWordsRemover(inputCol="words", outputCol="filtered")
filteredData = remover.transform(wordsData)

vectorizer = CountVectorizer(inputCol="filtered", outputCol="features")
model = vectorizer.fit(filteredData)
result = model.transform(filteredData)

# Tampilkan 10 kata yang paling sering muncul
vocab = model.vocabulary
frequencies = result.select("features").rdd \
    .map(lambda row: row.features.toArray()) \
    .reduce(lambda x, y: x + y)

for word, freq in sorted(zip(vocab, frequencies), key=lambda x: -x[1])[:10]:
    print(word, int(freq))

boneka 119
mainan 25
/ 16
lembut 15
ukuran 15
anak 14
sni 14
popeye 14
bahan 12
plush 10

In [63]:
#tokenize
from pyspark.ml.feature import Tokenizer

tokenizer = Tokenizer(inputCol="Nama Produk", outputCol="items")
data_tokenized = tokenizer.transform(df_cleaned)

In [64]:
from pyspark.ml.fpm import FPGrowth
from pyspark.sql.functions import array_distinct

# Apply array_distinct to the "items" column to remove duplicates
data_tokenized_unique = data_tokenized.withColumn("items", array_distinct("items"))

# Now, apply FPGrowth to the data with unique items
fpGrowth = FPGrowth(itemsCol="items", minSupport=0.01, minConfidence=0.3)
model = fpGrowth.fit(data_tokenized_unique)

In [65]:
model.freqItemsets.show(100, truncate=False)

+---------------------------------------------------------+----+
|items                                                    |freq|
+---------------------------------------------------------+----+
|[size]                                                   |1   |
|[size, ukuran]                                           |1   |
|[size, ukuran, boneka]                                   |1   |
|[size, m]                                                |1   |
|[size, m, ukuran]                                        |1   |
|[size, m, ukuran, boneka]                                |1   |
|[size, m, 40cm]                                          |1   |
|[size, m, 40cm, ukuran]                                  |1   |
|[size, m, 40cm, ukuran, boneka]                          |1   |
|[size, m, 40cm, boneka]                                  |1   |
|[size, m, boneka]                                        |1   |
|[size, 40cm]                                             |1   |
|[size, 40cm, ukuran]                                     |1   |
|[size, 40cm, ukuran, boneka]                             |1   |
|[size, 40cm, boneka]                                     |1   |
|[size, boneka]                                           |1   |
|[roblox]                                                 |1   |
|[roblox, tahun]                                          |1   |
|[roblox, tahun, ulang]                                   |1   |
|[roblox, tahun, ulang, anak]                             |1   |
|[roblox, tahun, ulang, anak, boneka]                     |1   |
|[roblox, tahun, ulang, boneka]                           |1   |
|[roblox, tahun, anak]                                    |1   |
|[roblox, tahun, anak, boneka]                            |1   |
|[roblox, tahun, boneka]                                  |1   |
|[roblox, ulang]                                          |1   |
|[roblox, ulang, anak]                                    |1   |
|[roblox, ulang, anak, boneka]                            |1   |
|[roblox, ulang, boneka]                                  |1   |
|[roblox, impor]                                          |1   |
|[roblox, impor, tahun]                                   |1   |
|[roblox, impor, tahun, ulang]                            |1   |
|[roblox, impor, tahun, ulang, anak]                      |1   |
|[roblox, impor, tahun, ulang, anak, boneka]              |1   |
|[roblox, impor, tahun, ulang, boneka]                    |1   |
|[roblox, impor, tahun, anak]                             |1   |
|[roblox, impor, tahun, anak, boneka]                     |1   |
|[roblox, impor, tahun, boneka]                           |1   |
|[roblox, impor, ulang]                                   |1   |
|[roblox, impor, ulang, anak]                             |1   |
|[roblox, impor, ulang, anak, boneka]                     |1   |
|[roblox, impor, ulang, boneka]                           |1   |
|[roblox, impor, anak]                                    |1   |
|[roblox, impor, anak, boneka]                            |1   |
|[roblox, impor, kado]                                    |1   |
|[roblox, impor, kado, tahun]                             |1   |
|[roblox, impor, kado, tahun, ulang]                      |1   |
|[roblox, impor, kado, tahun, ulang, anak]                |1   |
|[roblox, impor, kado, tahun, ulang, anak, boneka]        |1   |
|[roblox, impor, kado, tahun, ulang, boneka]              |1   |
|[roblox, impor, kado, tahun, anak]                       |1   |
|[roblox, impor, kado, tahun, anak, boneka]               |1   |
|[roblox, impor, kado, tahun, boneka]                     |1   |
|[roblox, impor, kado, ulang]                             |1   |
|[roblox, impor, kado, ulang, anak]                       |1   |
|[roblox, impor, kado, ulang, anak, boneka]               |1   |
|[roblox, impor, kado, ulang, boneka]                     |1   |
|[roblox, impor, kado, anak]                              |1   |
|[roblox, impor, kado, anak, boneka]                      |1   |
|[roblox, impor, kado, hadiah]                            |1   |
|[roblox, impor, kado, hadiah, tahun]                     |1   |
|[roblox, impor, kado, hadiah, tahun, ulang]              |1   |
|[roblox, impor, kado, hadiah, tahun, ulang, anak]        |1   |
|[roblox, impor, kado, hadiah, tahun, ulang, anak, boneka]|1   |
|[roblox, impor, kado, hadiah, tahun, ulang, boneka]      |1   |
|[roblox, impor, kado, hadiah, tahun, anak]               |1   |
|[roblox, impor, kado, hadiah, tahun, anak, boneka]       |1   |
|[roblox, impor, kado, hadiah, tahun, boneka]             |1   |
|[roblox, impor, kado, hadiah, ulang]                     |1   |
|[roblox, impor, kado, hadiah, ulang, anak]               |1   |
|[roblox, impor, kado, hadiah, ulang, anak, boneka]       |1   |
|[roblox, impor, kado, hadiah, ulang, boneka]             |1   |
|[roblox, impor, kado, hadiah, anak]                      |1   |
|[roblox, impor, kado, hadiah, anak, boneka]              |1   |
|[roblox, impor, kado, hadiah, boneka]                    |1   |
|[roblox, impor, kado, boneka]                            |1   |
|[roblox, impor, 30cm]                                    |1   |
|[roblox, impor, 30cm, tahun]                             |1   |
|[roblox, impor, 30cm, tahun, ulang]                      |1   |
|[roblox, impor, 30cm, tahun, ulang, anak]                |1   |
|[roblox, impor, 30cm, tahun, ulang, anak, boneka]        |1   |
|[roblox, impor, 30cm, tahun, ulang, boneka]              |1   |
|[roblox, impor, 30cm, tahun, anak]                       |1   |
|[roblox, impor, 30cm, tahun, anak, boneka]               |1   |
|[roblox, impor, 30cm, tahun, boneka]                     |1   |
|[roblox, impor, 30cm, ulang]                             |1   |
|[roblox, impor, 30cm, ulang, anak]                       |1   |
|[roblox, impor, 30cm, ulang, anak, boneka]               |1   |
|[roblox, impor, 30cm, ulang, boneka]                     |1   |
|[roblox, impor, 30cm, anak]                              |1   |
|[roblox, impor, 30cm, anak, boneka]                      |1   |
|[roblox, impor, 30cm, kado]                              |1   |
|[roblox, impor, 30cm, kado, tahun]                       |1   |
|[roblox, impor, 30cm, kado, tahun, ulang]                |1   |
|[roblox, impor, 30cm, kado, tahun, ulang, anak]          |1   |
|[roblox, impor, 30cm, kado, tahun, ulang, anak, boneka]  |1   |
|[roblox, impor, 30cm, kado, tahun, ulang, boneka]        |1   |
|[roblox, impor, 30cm, kado, tahun, anak]                 |1   |
|[roblox, impor, 30cm, kado, tahun, anak, boneka]         |1   |
|[roblox, impor, 30cm, kado, tahun, boneka]               |1   |
+---------------------------------------------------------+----+
only showing top 100 rows

In [67]:
model.associationRules.show(truncate=False)

+----------------------------------------------------------------------+----------+----------+------------------+--------------------+
|antecedent                                                            |consequent|confidence|lift              |support             |
+----------------------------------------------------------------------+----------+----------+------------------+--------------------+
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[paus]    |1.0       |48.0              |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[karakter]|1.0       |19.2              |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[ulang]   |1.0       |13.714285714285714|0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[besar]   |1.0       |12.0              |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[anak]    |1.0       |8.727272727272728 |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[mewah]   |1.0       |13.714285714285714|0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[cm]      |1.0       |13.714285714285714|0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[pembunuh]|1.0       |96.0              |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[animals] |1.0       |48.0              |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[biru]    |1.0       |48.0              |0.010416666666666666|
|[90, laut, hiu, hadiah, tahun, bantal, lembut, ukuran, mainan, boneka]|[hewan]   |1.0       |32.0              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[pembunuh]|1.0       |96.0              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[90]      |1.0       |96.0              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[animals] |1.0       |48.0              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[hiu]     |1.0       |19.2              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[karakter]|1.0       |19.2              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[tahun]   |1.0       |16.0              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[besar]   |1.0       |12.0              |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[mainan]  |1.0       |5.333333333333333 |0.010416666666666666|
|[laut, paus, biru, hewan, hadiah, ulang, mewah, cm, anak, ukuran]     |[boneka]  |1.0       |1.032258064516129 |0.010416666666666666|
+----------------------------------------------------------------------+----------+----------+------------------+--------------------+
only showing top 20 rows

In [68]:
model.associationRules.filter("array_contains(antecedent, 'murah')").show(truncate=False)

+-----------------------------------------------+----------+----------+-----------------+--------------------+
|antecedent                                     |consequent|confidence|lift             |support             |
+-----------------------------------------------+----------+----------+-----------------+--------------------+
|[murah, ee, mobil, bantal, /]                  |[sofa]    |1.0       |48.0             |0.010416666666666666|
|[murah, ee, mobil, bantal, /]                  |[boneka]  |1.0       |1.032258064516129|0.010416666666666666|
|[murah, ee, mobil, bantal, /]                  |[pup]     |1.0       |48.0             |0.010416666666666666|
|[murah, ee, mobil, bantal, /]                  |[emoticon]|1.0       |48.0             |0.010416666666666666|
|[murah, ee, emoticon, mobil, sofa, pup, bantal]|[/]       |1.0       |8.0              |0.010416666666666666|
|[murah, ee, emoticon, mobil, sofa, pup, bantal]|[boneka]  |1.0       |1.032258064516129|0.010416666666666666|
|[murah, sofa, pup, bantal, /, boneka]          |[mobil]   |1.0       |48.0             |0.010416666666666666|
|[murah, sofa, pup, bantal, /, boneka]          |[ee]      |1.0       |48.0             |0.010416666666666666|
|[murah, sofa, pup, bantal, /, boneka]          |[emoticon]|1.0       |48.0             |0.010416666666666666|
|[murah, emoticon, mobil, sofa, /]              |[ee]      |1.0       |48.0             |0.010416666666666666|
|[murah, emoticon, mobil, sofa, /]              |[bantal]  |1.0       |16.0             |0.010416666666666666|
|[murah, emoticon, mobil, sofa, /]              |[pup]     |1.0       |48.0             |0.010416666666666666|
|[murah, emoticon, mobil, sofa, /]              |[boneka]  |1.0       |1.032258064516129|0.010416666666666666|
|[murah, emoticon, mobil, /, boneka]            |[ee]      |1.0       |48.0             |0.010416666666666666|
|[murah, emoticon, mobil, /, boneka]            |[sofa]    |1.0       |48.0             |0.010416666666666666|
|[murah, emoticon, mobil, /, boneka]            |[bantal]  |1.0       |16.0             |0.010416666666666666|
|[murah, emoticon, mobil, /, boneka]            |[pup]     |1.0       |48.0             |0.010416666666666666|
|[murah, ee, emoticon, pup, /, boneka]          |[mobil]   |1.0       |48.0             |0.010416666666666666|
|[murah, ee, emoticon, pup, /, boneka]          |[sofa]    |1.0       |48.0             |0.010416666666666666|
|[murah, ee, emoticon, pup, /, boneka]          |[bantal]  |1.0       |16.0             |0.010416666666666666|
+-----------------------------------------------+----------+----------+-----------------+--------------------+
only showing top 20 rows

In [70]:
!mkdir -p /content/output/

In [73]:
df_cleaned.write.csv('/content/output/boneka_cleaned', header=True, mode="overwrite")